[Unit]
Description=AOS Command Panel app
PartOf=graphical-session.target
After=carl-panel-backend.service
Wants=carl-panel-backend.service

[Service]
Type=simple
ExecStart=%h/.local/bin/carl-panel --windowed
Restart=no
Environment=PATH=%h/.local/bin:/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=graphical-session.target
